.ignore
/.vscode
/.vs
/Binaries
/Build
/Content
/DerivedDataCache
/Intermediate
/Saved
Plugins/*/Binaries
Plugins/*/Build
Plugins/*/Content
Plugins/*/DerivedDataCache
Plugins/*/Intermediate
Plugins/*/Saved
*.sln
*.code-workspace
__pycache__/
*.pyc
*.pyo
train_data/
